.site-button {
    border-radius: 4px !important;
}

.site-card {
    border-radius: 8px !important;
    min-height: 160px;
}

.site-card__media {
    background-position: center center;
    background-size: cover;
}

.site-card__media--recipe {
    height: 128px;
}

.site-typography--title-font {
    font-family: Arial, Helvetica, sans-serif !important;
}
