/* Designed to work alongside Material Design Lite v1.3.0 */

.site-button {
    border-radius: 4px !important;
}

.site-card {
    border-radius: 8px !important;
    min-height: 160px;
}

.site-card__media {
    background-position: center center;
    background-size: cover;
}

.site-card__media--recipe {
    height: 128px;
}

.site-tooltip {
    border-radius: 4px !important;
}

.site-typography--body-font {
    font-family: Arial, Helvetica, sans-serif !important;
}

.site-typography--body-font-cascade * {
    font-family: Arial, Helvetica, sans-serif !important;
}

.site-typography--title-font {
    font-family: "Quicksand", Arial, Helvetica, sans-serif !important;
}

.site-typography--title-font-cascade * {
    font-family: "Quicksand", Arial, Helvetica, sans-serif !important;
}

@media (min-width: 480px) {
    .site-snackbar {
        border-radius: 8px !important;
    }
}
